..header {
  width: 100%;
  height: 80px;
  background-color: #252B44;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.header ul {
  display: flex;
}

.header ul li {
  font-size: 14px;
  list-style: none;
  margin-left: 16px;
  color: #fefefe;
}

.header ul li:first-child {
  margin-left: 0;
}

.header ul li:last-child {
  margin-right: 24px;
}

a {
  text-decoration: none !important;
  color: #fefefe !important;
}

.container {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
  background-color: #191E31;
  margin: 0 !important;
  padding: 0 !important; 
  padding-bottom: 64px;
}

.container h1 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
}

.content {
  width: 80%;
  margin-left: 32px;
  height: 100vh;
}

.content table button a {
  color: black !important;
}

.content-home {
  width: 48%;
  margin-left: 32px;
}

.content-movie {
  width: 48%;
  display: flex;
}

.title {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.card {
  width: 100%;
  margin-right: 16px;
  margin-bottom: 16px;
}

.isi-home {
  width: 80%;
  display: flex;
}

.isi {
  margin-top: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-detail {
  width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card-title {
  height: 65px;
}

.orderlist-demo .product-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;
}

.orderlist-demo .product-item img {
  width: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.orderlist-demo .product-item .product-list-detail {
  flex: 1 1 0;
}

.orderlist-demo .product-item .product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.orderlist-demo .product-item .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.orderlist-demo .product-item .product-category {
  vertical-align: middle;
  line-height: 1;
}

.p-orderlist .p-orderlist-controls {
  display: none;
}


.btn-action {
  display: flex;
  flex-direction: column;
}

.btn-edit {
  background-color: yellow;
  margin-top: 8px;
}

.btn-view {
  background-color: aqua;
  margin-top: 8px;
}

.btn-del {
  background-color: red;
  margin-top: 8px;
}

.movie-img {
  width: 50%;
  margin-right: 8px;
}

.movie-img img {
  width: 100%;
  object-fit: cover;
}

.movie-desc {
  width: 50%;
  margin-left: 8px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.blabla p{
  color: white;
}

.btn-mov {
  display: flex;
  justify-content: flex-end;
}

.form-input {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.input {
  padding: 16px;
  width: 50%;
  align-items: center;
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  background: aliceblue;
  margin-bottom: 16px;
}

.submit button {
  border-radius: 5px;
  background-color: #3F0;
  padding: 8px 12px;
  cursor: pointer;
}

.input input {
  width: 70%;
  outline: none;
  background-color: transparent;
  border: none;
}

.input textarea {
  width: 70%;
  outline: none;
  background-color: transparent;
  border: none;
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ant-table-content {
  background-color: #252B44 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #252B44 !important;
}

.ant-table-thead > tr > th {
  background-color: #252B44 !important;
  color: #fff;
}


.ant-table-thead th{
  color: #fff;
}

.ant-table-tbody > tr > td{
  color: white;
}

.ant-table-tbody > tr > td:hover{
  color: #567698;
}

.ant-layout-footer {
  background-color: #252B44 !important;
  display: flex;
  justify-content: center;
}

.ant-layout-footer label{
  color: #fff;
  text-align: center;
}

.content-login {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-login {
  width: 400px;
  padding-top: 24px;
    border-radius: 20px;
    border: 1px solid white;
}

.input-login {
  width: 80%;
  align-items: center;
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  background: aliceblue;
  padding: 16px;
  margin-bottom: 16px;
}

.input-login input {
  width: 70%;
  outline: none;
  background-color: transparent;
  border: none;
}

.p-orderlist .p-orderlist-list {
  background-color: #252B44 !important;
}

.ant-layout-header {
  background-color: #252B44 !important;
}

.p-orderlist .p-orderlist-header {
  background-color: #252B44 !important;
  color: #fff !important;
}