.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-layout {
  background: #fefefe !important;
}


.container {
  padding-top : 32px;
  padding-bottom: 64px;
  height: 100% !important;
  width: 100% !important;
}

.container-content {
  padding-top : 32px;
  padding-bottom: 64px;
  height: 100vh !important;
  width: 100% !important;
}

.form-input {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.input {
  padding: 16px;
  width: 50%;
  align-items: center;
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  background: aliceblue;
  margin-bottom: 16px;
}

.submit button {
  border-radius: 5px;
  background-color: #3F0;
  padding: 8px 12px;
  cursor: pointer;
}

.input input {
  width: 70%;
  margin-left: 32px;
  outline: none;
  background-color: transparent;
  border: none;
}

.input textarea {
  width: 70%;
  outline: none;
  background-color: transparent;
  border: none;
}

.ant-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-card {
  height: 250px;
  margin-right: 48px !important;
  margin-bottom: 24px !important;
  padding-bottom: 16px !important;
  border-radius: 10px !important;
}

.antd-card-cover {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ant-card-cover img {
  width: 100%;
  object-fit: fill;
  height: 150px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ant-layout-sider {
  background-color: #fefefe!important;
  height: 50%;
}

.ant-form-item {
  padding: 16px 16px !important;
}

.sp-mp {
  display: flex;
  justify-content: space-between;
}

.mleft {
  margin-left: 20px;
}
.ant-layout-footer{
  display: flex !important;
  justify-content: space-between !important;
  background-color: #001529 !important;
  color: #fff !important;
  border-top: 1px solid grey;
}

.content {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
}

.content h1 {
  text-align: center !important;
}

.form-search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.fsgame {
  width: 100%;
}

.fsmov {
  width: 76%;
}

.isi {
  width: 50%;
}

.content-movie {
  border: 1px solid aqua;
  display: flex;
  border-radius: 15px;
  padding: 24px;
}


.movie-img {
  width: 50%;
}

.movie-img img {
  width: 100%;
}

.movie-desc {
  margin-left: 16px;
  width: 50%;
}

.ant-layout-footer ul {
  display: flex;
}

.ant-layout-footer ul li {
  list-style: none;
  margin-left: 24px;
}

.btn-move {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 10px;
}

.icon-footer {
  width: 18px;
}

.back {
  width: 50px;
  height: 50px;
}

.form-title {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.icon-back {
  width: 20%;
}

.title {
  width: 80%;
}

h2.ant-typography, .ant-typography h2 {
  text-align: center;
}
.ant-layout-sider-children {
  position: fixed;
  height: auto !important;
}

.card-login {
  width: 50%;
  padding: 16px;
  border: 1px solid aquamarine;
  border-radius: 15px;
}

.login-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;
  border-bottom: 2px solid black;
}

.login {
  width: 80% !important;
}

.icon-user img {
  width: 20px;
}

.ant-layout-header {
  border-bottom: 1px solid #fefefe;
  background-color: #fefefe !important;
  box-shadow: rgba(14, 45, 63, 0.08) 1px 8px 17px 2px;
}

.ant-layout-header ul {
  border-bottom: 1px solid grey !important;
  box-shadow: rgba(14, 45, 63, 0.08) 1px 8px 17px 2px;
}

.ant-layout-header ul li a {
  color: #567698 !important;
}

.ant-menu-dark.ant-menu-horizontal {

  border-bottom: 1px solid grey !important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
  background-color: #fefefe !important;
  border-bottom: 1px solid grey !important;
}

.ant-layout-footer {
  box-shadow: rgba(14, 45, 63, 0.08) 1px 8px 17px 2px !important;
  background-color: #fefefe !important;
}

.comoy {
  color: #567698 !important;
}


/* Responsive */



@media only screen and (max-width: 991px){
  .ant-table-container {
    overflow: auto;
  }
  .input {
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .ant-layout {
    display: flex !important;
    flex-direction: column !important;
  }
  .ant-layout-sider {
    max-width: 100% !important;
    width: 100% !important;
  }
  .ant-layout-sider-children {
    position: relative;
    max-width: 100% !important;
    width: 100% !important;
  }
  .ant-card {
    margin-right: 0 !important;
  }
  .ant-layout-footer {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .copyright {
    text-align: center;
    margin-bottom: 24px;
  }
  .input {
    width: 80%;
  }
  .icon-footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .icon-footer-menu ul{
    padding-inline-start: 0 !important;
  }
  .isi {
    width: 100%;
  }
  .content-movie {
    flex-direction: column;
  }
  .movie-img {
    width: 100%;
  }
  .card-login {
    width: 100%;
  }
 

}