
.form-input {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.input {
  padding: 16px;
  width: 50%;
  align-items: center;
  height: auto;
  border-radius: 20px;
  justify-content: space-between;
  display: flex;
  background: aliceblue;
  margin-bottom: 16px;
}

.submit button {
  border-radius: 5px;
  background-color: #3F0;
  padding: 8px 12px;
  cursor: pointer;
}

.input input {
  width: 70%;
  outline: none;
  background-color: transparent;
  border: none;
}

.input textarea {
  width: 70%;
  outline: none;
  background-color: transparent;
  border: none;
}

.ant-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-card {
  height: 250px;
  margin-right: 48px !important;
  margin-bottom: 24px !important;
  padding-bottom: 16px !important;
  border-radius: 10px !important;
}

.antd-card-cover {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ant-card-cover img {
  width: 100%;
  object-fit: fill;
  height: 150px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}